@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700 &display=swap');

body{
background-image:linear-gradient(-90deg,#e66114cc,#d33428cb);
    color: #fafafa;
}

/* ---------------------header-------------------------------------- */



/* ---------------------nav bar-------------------------------------- */

nav #navbar.container.navbar.navbar-expand-lg.navbar-light{
    background-color: #cb5b1ccc;
}


.navbar-light .navbar-nav .nav-link {
    color: #fafafa;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #912c36;

}



#navbar{
    width: 100%;
    padding: 0;
    margin: 0;
    
}

#navbarNavDropdown .nav-link::after:hover{
    
}

.nav-item{
    text-transform: uppercase;
    font-family: 'exo',sans-serif;
    font-weight: 600;
    color: #fafafa;
}


.nav-item .dropdown-menu{
    padding: 5px 5px;
}


a.dropdown-item{
    padding: 0;
    text-align: center;
    color: #cb5b1ccc;
}
#navbarNavDropdown{
  color:#fafafa;  
}
/* ---------------------home page -------------------------------------- */

#fitvid0{
    
    
}

.first-experience{
   text-align: center;
   padding: 15px 15px;}


   .approaches p{
margin: 15px 15px 15px 15px;
   }

.approach-link{
    color: #fafafa;
    font-weight: 400;
    text-decoration: none;
    
}

.approach-link:hover{
    color: grey;

}

.welcome-speech p{
    padding: 20px 20px;
    font-family: 'roboto',sans-serif;
    font-size: 20px;
    font-weight: 200;
}

/* ---------------------carousel-------------------------------------- */
#collection{
     height: 215px !important;
    width: 320px !important;
    text-align: center;
 
}






/* ---------------------about me -------------------------------------- */
.me-blurb::before {
  width: 219px;
  height: 432px;
  position: relative;
  
}
.me-blurb::after{
  content: "";
 background: url(../img/sat.jpg);
  
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
   background-size: cover;
    overflow: hidden; 
}

.me-blurb:hover::after{
  content: "";
 background: url(../img/pensive.jpg);
opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
   background-size: cover;
    overflow: hidden; 
   
}

.read{
font-weight: 700;
overflow:auto;
color: #fafafa;
text-align: right;
padding-top: 20px;
}
.read:hover {
color: white;
}

.write {
font-weight: 700;
overflow:auto;
color: #fafafa;
text-align:right;
padding-top: 20px;
}
.write:hover {
color: white;
}

.me{
   
    background: url(../img/sit.jpg);
    top: 0;
  left: 0;
  bottom: 0;
  right: 0;
   background-size: cover;
    overflow: hidden; 
    
}

.me h1{

position: relative;
 
font-weight: 500 ;
text-shadow: 5px 5px 10px #fafafa;
}






.{
      background: url(../img/pensive.jpg);
    background-size: cover;
    overflow: hidden;
    top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

}

.pensive:hover::after{
      background: url(../img/pensive.jpg);
    background-size: cover;
    overflow: hidden;
    top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

}





.credentials{
    padding: 40px 20px 20px;}

  

.credentials p{
    font-weight: 400;
}

.specialisms{
    padding: 40px 20px 20px;
}

.specialisms p{
    font-weight: 400;
}
.timeline-item{
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: solid 1px;

}

.timeline-item p{
    margin: 0;
    padding: 0;
}

.timeline-item::before{
content: attr(data-dates);
position: absolute;
left: 2.3em;
top: 4em;
display: block;
font-family: 'exo',sans-serif;
font-weight: 500;
font-size: 12px;
padding: 0;
}

.timeline-item::after{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    position: absolute;
left: -6px;
top: 2.4em;
display: block;
content: '';
background: #fafafa;

}


/* ---------------------issues-------------------------------------- */

.issues-opening{
    text-align: center;

}

#death::before{
  width: 249px;
  height: 350px;
  position: relative;
  
}
#death:after{
  content: "";
background: url("https://images.unsplash.com/photo-1536611517872-e0d5493e2164?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80") no-repeat;
    top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
   background-size: cover;
    overflow: hidden; 
    padding-left: 0;
    padding-right: 0;
}

#death:hover:after{
  content: "";
background: url("https://images.unsplash.com/photo-1536611517872-e0d5493e2164?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80") no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
   background-size: cover;
    overflow: hidden; 
    width: 100%;
    
}

.dc{
color: black;
    font-weight: 500;
    overflow:auto;
    width: 100%;
}

.dc p{
color: black;
    font-weight: 500;
    overflow:auto;
}


.dc:hover{
color:black;
background-image:linear-gradient(#e66114cc,#d47973cb);
padding: 0;
background-size: cover;
width: 100%;
 opacity: 0.9;

}



#depression::before{
  width: 249px;
  height: 350px;
  position: relative;
  
}
#depression:after{
  content: "";
background: url("https://images.unsplash.com/photo-1534088568595-a066f410bcda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=989&q=80") no-repeat;
    top: 0;
left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
   background-size: cover;
    overflow: hidden; 
}

#depression:hover:after{
  content: "";
background: url("https://images.unsplash.com/photo-1534088568595-a066f410bcda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=989&q=80") no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
   background-size: cover;
    overflow: hidden; 
}


.dp{
color: black;
    font-weight: 500;
    overflow:auto;
}
.dp p{
color: black;
    font-weight: 500;
    overflow:auto;
}

.dp:hover{
color: black;
background-image:linear-gradient(#e66114cc,#d47973cb);
opacity: 0.9;

}



#child-parent::before{
  width: 249px;
  height: 350px;
  position: relative;
}
#child-parent::after{
  content: "";
background: url("https://images.unsplash.com/photo-1494451930944-8998635c2123?ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80") no-repeat;
  top: 0;
left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
   background-size: cover;
    overflow: hidden; 
}

#child-parent:hover::after{
  content: "";
background: url("https://images.unsplash.com/photo-1494451930944-8998635c2123?ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80") no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
   background-size: cover;
    overflow: hidden; 
}


.cp{
color: #fafafa;
    font-weight: 500;
    overflow:auto;
}

.cp:hover{
color: #fafafa;
background-image:linear-gradient(#e66114cc,#d47973cb);
opacity: 0.9;

}


#anxiety::before {
  width: 249px;
  height: 350px;
  position: relative;
  
}
#anxiety:after{
  content: "";
  background: url("https://images.unsplash.com/photo-1583775598026-24bd150b540e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1977&q=80") no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
   background-size: cover;
    overflow: hidden; 
}

#anxiety:hover:after{
  content: "";
  background: url("https://images.unsplash.com/photo-1583775598026-24bd150b540e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1977&q=80") no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
   background-size: cover;
    overflow: hidden; 
   }

.ax{
color: #fafafa;
    font-weight: 500;
    overflow:auto;
}

.ax:hover{
color: #fafafa;
background-image:linear-gradient(#e66114cc,#d47973cb);
opacity: 0.9;

}


#identity::before{
  width: 249px;
  height: 350px;
  position: relative;
  
}
#identity::after{
  content: "";
background: url("https://images.unsplash.com/photo-1558023131-908cab000962?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80") no-repeat;  
top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
   background-size: cover;
    overflow: hidden; 
}

#identity:hover:after{
  content: "";
background: url("https://images.unsplash.com/photo-1558023131-908cab000962?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80") no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
   background-size: cover;
    overflow: hidden; 
}

.ic{
color: #fafafa;
    font-weight: 500;
    overflow:auto;
}

.ic:hover{
color: #fafafa;
background-image:linear-gradient(#e66114cc,#d47973cb);
 opacity: 0.9;

}

#relationship::before{
  width: 249px;
  height: 350px;
  position: relative;
  
}
  #relationship:after{
  content: "";
  background: url("https://images.unsplash.com/photo-1451471016731-e963a8588be8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80") no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
   background-size: cover;
    overflow: hidden; 
}

#relationship:hover:after{
  content: "";
  background: url("https://images.unsplash.com/photo-1451471016731-e963a8588be8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80") no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
   background-size: cover;
    overflow: hidden; 
    color: black;
}

.rb {
color: #fafafa;
    font-weight: 500;
    overflow:auto;
    display: block;
    width: 100%;
}

.rb:hover{
color: #fafafa;
background-image:linear-gradient(#e66114cc,#d47973cb);
opacity: 0.9;
  


}




/* ---------------------how i work-------------------------------------- */


.virtual h1{
    text-align: center;

}




}
/* ---------------------buttons-------------------------------------- */

.btn-group{
    display: inline;
}

.btn-danger{
    background-color: #fafafa;
    color: #fafafa;
    padding: 0;
    border-color: black;
}
/* ---------------------hover.css-------------------------------------- */


.hvr-back-pulse:after{
background-color: black;
height:120px;
}
/* ---------------------special margins, paddings-------------------------------------- */

h1,h2,h3,h4{
    margin: 0;}

.informative{
    font-family: 'exo',sans-serif;
font-weight: 500;
font-size: 12px;
}
.uppercase{
    text-transform: uppercase;
    
}

.general-sub{
     font-family: "Exo",sans-serif;
     font-weight: 300;
     color: #fafafa;
     

}



.inline-block{
display: inline-block;

}



.section-heading{
    font-family: "exo", sans-serif;
    font-weight: 300px;
    margin-top: 25px;
    margin-bottom: 40px;

}






/* ---------------------footer-------------------------------------- */

footer{

    color:#fafafa;
    min-height: 150px;
     border-bottom-color: #fafafa;
    border-bottom: solid 1px;
    border-top: #fafafa;
    border-top: solid 1px;

}

footer h5{
    padding-top: 10px;
}

footer p{
    font-family: 'roboto',sans-serif;
    font-size: 15px;
    font-weight: 300;
}

footer i{
 font-size: 18px;
color: #fafafa;
display: inline;
text-align: center;
padding-left: 5px;
transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;   
}

.fa-download{
    padding-top: 0;
}

.fa-download:hover{
    padding-top: 0;
     color: #912c36;
}

.ukcp-logo{
    height: 100px;
    width: 200px;
}

.footer-contact{
    color: #fafafa;
    text-decoration: none;
    font-family:"Roboto",sans-serif;
    font-size: 15px;
    font-weight: 200;
    
}

.footer-contact:hover{
    color: #912c36;

}
}
.terms{
    padding-bottom: 20px;
    color: #fafafa;
    background-color: transparent;

}


#footer-deets{
    padding: 20px;
    padding-top: 40px;
}

/* ---------------------t&c's-------------------------------------- */

.t-c{
text-align: center;

}