@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700 &display=swap');
 

/* ---------------------header-------------------------------------- */



/* ---------------------nav bar & logo-------------------------------------- */

.fa-bars{
    color: #612100;
}


.logo{
    position: relative;
    background-color:#F7B32B;
}

.logo img{

}

#Navbar{
    background-color: #F7B32B;
    text-align: center;
    text-decoration-color: #612100;
    width: 100%;


}


#navbarNavDropdown a{
    color: #612100;
    text-decoration: none;
    background-color: #F7B32B;


}

#navbarNavDropdown a:hover{
     color: #fafafa;
}

.nav-link a{
    padding: 0, 50px, 0, 50px;
}

.nav-item{
    font-family: "Exo":sans-serif;
    font-size:18px;
    text-transform:uppercase;
}
/* ---------------------home page -------------------------------------- */


#home{
background-color: #F89833;
color: #612100;
}

body:-webkit-full-page-media {
    background-color: transparent;
    margin: 0;
}
.video-wrap{
    display: flex;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;

}

.vid{
z-index: 1;
opacity: .8;


}
.video-container{
position:absolute;
top: 0;
left: 0;
width: 100%;
z-index: 0;
}


.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

p{
    color: #fafafa;
}


  .approaches p{
margin: 15px 15px 15px 15px;
   }

.approach-link{
    color: #fafafa;
    font-weight: 400;
    text-decoration: none;
    
}

.approach-link:hover{
    color: #612100;
    padding-bottom: 100px;
}

.welcome-speech p{
    padding: 20px 20px;
    font-family: 'roboto',sans-serif;
    font-size: 20px;
    font-weight: 200;
}
/* ---------------------about me scroll-------------------------------------- */
#about{
background-color:#CDBB49;
}

p .about{
margin-top: 30px;
color:#fafafa; 
font-weight: 450;
}


h1{
  color: #612100; 
}

.history-heading{
   color: #612100;  
  text-transform: uppercase;
  margin-top: 30px;

}

.me-img{
    box-shadow:10px 10px 10px grey;

}

.timeline-item{
    padding: 4em 2em 2em 2em;
    position: relative;
    color: #fafafa;
    border-left: solid 1px;

}
h4{
   color: #612100;  
}
.timeline-item p{
    margin: 0;
    padding: 0;
    color: #612100;
}

.timeline-item::before{
content: attr(data-dates);
position: absolute;
left: 2.3em;
top: 4em;
display: block;
font-family: 'exo',sans-serif;
font-weight: 500;
font-size: 12px;
padding: 0;
}

.timeline-item::after{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    position: absolute;
left: -6px;
top: 2.4em;
display: block;
content: '';
background: #fafafa;

}

/* ---------------------issues scroll-------------------------------------- */
#help{
background-color:#A3B5C6;
color: #fafafa;
}


#help p{
  background-color:#A3B5C6;
color: #fafafa;  
}

.help-opening{
    text-align: center;
    padding: 10px 60px 10px 60px;

}
.card{
    background-color: transparent;
    border: none;
}

.card-title {
    margin-bottom: .75rem;
    text-align: center;
    color: #612100;
}
.card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 250px;
}

.card-text{
    font-weight: 350;
}

.card-text:hover{
    color: #612100;
}

.depression-stat{
    color: #fafafa;
}
.depression-stat:hover{
    color: #612100
}
.relationship-type{
    color: #fafafa;
    font-weight: 500;
    text-align: center;
    font-family: "Exo",sans-serif;
}

/* ---------------------my style scroll-------------------------------------- */
#approach{
background-color:#F89833;
color: #612100;
}

.tech-container{

  width: 100%;
}
.tech-container video{

  width: 100%;}

.virtual h1{
    text-align: center;
}


.book-consultation:hover{
background-color:#912c36;
border: solid #912c36 1px;
}
 




/* ---------------------buttons-------------------------------------- */

.btn-group{
    display: inline;
}

.btn-primary{
    background-color: #eb8045;
    color: #fafafa;
    padding:10px 10px 10px 10px;
    border-color: #eb8045;
}

hr{
    border: none;
}

/* ---------------------hover.css-------------------------------------- */


.hvr-back-pulse:after{
background-color: black;
height:120px;
}
/* ---------------------special margins, paddings-------------------------------------- */

 

h1,h2,h3,h4{
    margin: 0;}

.informative{
    font-family: 'exo',sans-serif;
font-weight: 500;
font-size: 12px;
}
.uppercase{
    text-transform: uppercase;
    text-align: center;
    
}


.general-sub{
     font-family: "Exo",sans-serif;
     font-weight: 300;
    
     

}


.inline-block{
display: inline-block;

}

}

.section-heading{
    font-family: "exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;

}


/* ---------------------footer-------------------------------------- */

footer{

    color:#612100;
    min-height: 150px;
     border-bottom-color:#612100;
    border-bottom: solid 1px;
    border-top: #612100;
    border-top: solid 1px;
    background-color: #F7B32B;

}

footer h5{
    padding-top: 10px;
}

footer p{
    font-family: 'roboto',sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #612100;
}

footer i{
 font-size: 18px;
color: #612100;
display: inline;
text-align: center;
padding-left: 5px;
transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;   
}

.fa-download{
    padding-top: 0;
}

.fa-download:hover{
    padding-top: 0;
     color: #fafafa;
}

.ukcp-logo{
  height: 85px;
    width:155px ;
    display: block;
    margin: 0 auto;
}

.footer-contact{
    color: #612100;
    text-decoration: none;
    font-size: 15px;
    font-family: "Exo",sans-serif;
     font-weight: 300;
    
}

.footer-contact:hover{
    color: #fafafa;

}

.terms{
    padding-bottom: 20px;
    color: #612100;
    background-color: transparent;

}


#footer-deets{
    padding: 20px;
    padding-top: 40px;
}

/* ---------------------t&c's-------------------------------------- */

.t-c{
text-align: center;
background-color: #F89833
}


