@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600|Exo:100,200,300,400,500,600&display=swap');

body{
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #612100; 
} 



/* elements */
p{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
h1{
  font-family: "Exo",sans-serif;
    font-weight: 600;  
    font-size: 32px;
    color: #612100; 
    margin: 0;
}

h2{
  font-family: "Exo",sans-serif;
    font-weight: 500;  
    font-size: 26px;
    color: #612100; 
    margin: 0;
}

h3{
  font-family: "Exo",sans-serif;
    font-weight: 500;  
    font-size: 22px;
    color: #612100; 
    margin: 0;
}

h4{
  font-family: "Exo",sans-serif;
    font-weight: 500;  
    font-size: 20px;
    color: #612100; 
    margin: 0;
}

h5{
  font-family: "Exo",sans-serif;
    font-weight: 500;  
    font-size: 18px;
    color: #612100; 
    margin: 0;
}
h6{
  font-family: "Exo",sans-serif;
    font-weight: 500;  
    font-size: 16px;
    color: #612100; 
    margin: 0;
}
footer{
  color:#612100;
    min-height: 150px;
     border-bottom-color:#612100;
    border-bottom: solid 1px;
    border-top: #612100;
    border-top: solid 1px;
    background-color: #F7B32B;
    padding: 20px;
}


footer h5{
    padding-top: 10px;
}

footer p{
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #612100;
}

footer i{
 font-size: 18px;
color: #612100;
display: inline;
text-align: center;
padding-left: 5px;
transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;   
}


/* overrides */

.video-content p{ 
    color: #612100;
    font-weight: 500;
}

.timeline-item p{
    margin: 0;
    padding: 0;
    color: #612100;
}
/* element-clases */

.informative{
    font-family: 'exo',sans-serif;
    font-weight: 500;
    font-size: 12px;
}
.uppercase{
    text-transform: uppercase;
    text-align: center; 
}
.history-heading{
  text-transform: uppercase;
  margin-top: 30px;

}

.bio{
    padding: 2px 4px 2px 4px;
}
/* header */

.fa-bars{
    color: #612100;
}


.navbar-brand{
    position: relative;
    background-color:#9bb685;
    opacity: 0.8;
       height: 100px;
    width: 247px; 
    border-radius: 1rem;
}


.sticky-top{
    height: 0;
}

#Navbar{
    background-color: transparent;
    text-align: center;
    text-decoration-color: #612100;
    width: 100%;
    position: fixed;
}


#navbarNavDropdown a{
    color: #612100;
    text-decoration: none;
    background: #F7B32B;
   opacity: 0.8;
   border-radius: 1rem;
}

#navbarNavDropdown a:hover{
     color: #fafafa;
}

.nav-link a{
    padding: 0 5px 0 5px;
}

.nav-item{
    font-family: "Exo",sans-serif;
    font-size:18px;
    text-transform:uppercase;
    font-weight: 400;
}

/* home page */


#home{
background-color: transparent;
color: #612100;
padding: 0px;
}

.still{
    position: relative;
    margin: 0 auto;
    display: flex;
    width: 90%;
    height: 50vh;
}

.still image{
    width: 100%;
}

.still-content{
    position:absolute;
    text-align: center;
    background: #9bb685;
    z-index: 1;
   padding:0px;
   opacity: 0.8;
   border-radius: 1rem; 
   bottom: 2%; 
}

.video-wrap{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
}

.video-content{
    text-align: center;
    background: #9bb685;
    z-index: 1;
   padding: 20px;
   opacity: 0.9;
   border-radius: 1rem; 
}

.video-container{
position:absolute;
top: 0;
left: 0;
width: 100%;
z-index: 0;
}


/* about me  */

#about{
background-color:#F89833;
padding-top: 6rem;
}

#hero{
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    border-radius: 1rem;
     height: 500px;
     padding-bottom: 5px;
}

.card{
    background-color:transparent;
    color: #612100;
    border: none;
    }

.card-title{
    margin-bottom: .75rem;
    text-align: center;
    color: #612100;
}

.card-img-top{
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 250px;
    border-radius: 1rem;
}

.card-text{
    font-weight: 300;
        border: 1px solid;
    border-radius: 1rem;
    color: #612100;
    padding-top: 4px;  
    background-color: #fafafa;  
}


.history{
    padding-left: 2rem;
}

.timeline-item{
    padding: 4em 2em 2em 2em;
    position: relative;
    color: #fafafa;
    border-left: solid 1px;
}

.timeline-item::before{
content: attr(data-dates);
position: absolute;
left: 2.3em;
top: 4em;
display: block;
font-family: 'exo',sans-serif;
font-weight: 500;
font-size: 12px;
padding: 0;
}

.timeline-item::after{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    position: absolute;
left: -6px;
top: 2.4em;
display: block;
content: '';
background: #fafafa;
}

/* things i help with */

#help{
background-color:#A3B5C6;
padding-top: 6rem;
}

.help-opening{
    text-align: center;
     background-color: #fafafa;
     border: 1px solid #fafafa;
     border-radius: 1rem;
}

.depression-stat{
    color: #612100;
}
.depression-stat:hover{
    color: #fafafa;
}

/* approach */

#approach{
background-color:#F89833;
padding-top: 6rem;
}

.approaches{
  padding-top: 4rem;  
}
.approach-link{
    color: #612100;
    font-weight: 400;
    text-decoration: none; 
}

.approach-link:hover{
    color: #fafafa;
    padding-bottom: 100px;
}


/* working together */
#working{
    background-color: #A3B5C6;
    padding-top: 6rem;
}

.explanation{
 padding-top: 2rem;   
}
.tech-container{
 padding-top: 4rem; 
  width: 100%;
}
.tech-container video{

  width: 100%;}

.virtual h1{
    text-align: center;
}

/* rates */
#rates{
background-color:#F89833;
color: #612100;
padding-top: 6rem;
}
.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-radius: 1rem;
}
.list-group-item:last-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-radius: 1rem;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 2px solid #612100;
    border-radius: 1rem;
    }

   
/* contact  */

#contact{
    background-color: #A3B5C6;
    padding-top: 6rem;
}
.terms-link{
    color: #612100;
     text-decoration: none;
     font-weight: 400;
}

.terms-link:hover{
    color: #F7B32B;
}

 
.form-questions{
     margin: 15px;
     width: 100%;
 }
/* buttons */


.in-touch{
    margin: 0 auto;
      color:#A3B5C6 ;
    background-color:#612100;
    border-radius: 0.5rem;
    border: 3px solid #612100
}

.in-touch:hover{
    opacity: .8;
    overflow: hidden;
      background-color:#612100;
        border: 3px solid #612100
}


/* footer */


.fa-download{
    padding-top: 0;
}

.fa-download:hover{
    padding-top: 0;
     color: #fafafa;
}

.ukcp-logo{
  height: 85px;
    width:155px ;
    display: block;
    margin: 0 auto;
}

.footer-contact{
    color: #612100;
    text-decoration: none;
    font-size: 15px;
    font-family: "Exo",sans-serif;
     font-weight: 400;
    
}

.footer-contact:hover{
    color: #9bb685;

}

.terms{
    padding-bottom: 20px;
    color: #612100;
    background-color: transparent;

}
/* terms and conditions */

#terms{
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
background-color: #F89833;
}

#Navbarterms{
    background-color: #F7B32B;
    text-align: center;
    text-decoration-color: #612100;
    width: 100%;
}
.logo{
  position: relative;
    background-color:#F7B32B;
    opacity: 0.8;
       height: 100px;
    width: 247px; 
    border-radius: 1rem;
}  

.condition-heads{
    margin-bottom: .75rem;
    text-align: center;
    color: #612100;
    padding: 1rem 0 1rem 0;
}
.conditions{
    font-size: 20px;
    font-weight: 400;
        border: 3px solid;
    border-radius: 1rem;
    color: #612100;
    padding: 5px 4px 5px 4px;  
    background-color: #fafafa;  
}

